
{% extends 'base.html.twig' %}
{% block body %}
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <a href="{{ path('add_categorie') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                <h1 align-items: center class="card-title">Modifier categorie</h1>


{{ form_start(f) }}

{{ form_end(f)}}
</div></div></div>/div>
{% endblock %}